@page "/{Cedula}/Agente"
@rendermode InteractiveServer
@layout LayoutMod1
@inject IJSRuntime JSx
@inject ContextoDige Cd
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavMan


<p>Hola Agente, tu cédula es: @Cedula</p>

@code {
    [Parameter] public string Cedula { get; set; } = "";
 
    protected override async Task OnInitializedAsync()
    {
        
        var usuario = await Cd.Usuarios.FirstOrDefaultAsync(u => u.Cedula == Cedula);
           
    }
}