/* Estilo general de la página */
body[b-yq50rmoc7z] {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.navbar[b-yq50rmoc7z] {
    background-color: #005b96; /* Azul institucional */
    border-bottom: 2px solid #00437d;
}

.navbar .navbar-brand[b-yq50rmoc7z] {
    color: black !important;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link[b-yq50rmoc7z] {
    color: #fff;
    padding: 10px 15px;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover[b-yq50rmoc7z] {

    border-radius: 5px;
}

/* Hacer que los botones no se vean como botones */
.navbar .navbar-nav .nav-item button[b-yq50rmoc7z] {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 10px;
}

.navbar-toggler-icon[b-yq50rmoc7z] {
    background-color: #fff;
}

/* Títulos */
h1[b-yq50rmoc7z] {
    color: #003f7d;
    font-size: 2rem;
    margin-top: 20px;
}

/* Estilo para botones */
.btn[b-yq50rmoc7z] {
    border-radius: 5px;
    font-weight: bold;
}

.btn-success[b-yq50rmoc7z] {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
}

.btn-success:hover[b-yq50rmoc7z] {
    background-color: #218838;
}

/* Botones de acciones */
.btn-primary[b-yq50rmoc7z], .btn-danger[b-yq50rmoc7z] {
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary[b-yq50rmoc7z] {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover[b-yq50rmoc7z] {
    background-color: #0056b3;
}

.btn-danger[b-yq50rmoc7z] {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover[b-yq50rmoc7z] {
    background-color: #c82333;
}

/* Modal */
.modal-content[b-yq50rmoc7z] {
    border-radius: 10px;
}

.modal-header[b-yq50rmoc7z] {
    background-color: #005b96;
    color: white;
    font-weight: bold;
}

.modal-footer button[b-yq50rmoc7z] {
    border-radius: 5px;
}

/* Tabla */
table[b-yq50rmoc7z] {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

table th[b-yq50rmoc7z], table td[b-yq50rmoc7z] {
    padding: 12px;
    text-align: left;
}

table th[b-yq50rmoc7z] {
    background-color: #005b96;
    color: white;
}

table tbody tr:nth-child(even)[b-yq50rmoc7z] {
    background-color: #f2f2f2;
}

table tbody tr:hover[b-yq50rmoc7z] {
    background-color: #e0e0e0;
}

.container[b-yq50rmoc7z]{
    max-width: 100%;
}